@model IEnumerable<BanHang.Models.EF.Order>
<section>
    <h4>lịch sử hóa đơn</h4>
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">mã hóa đơn</th>
                        <th class="text-center">tên khách hàng</th>
                        <th class="text-center">địa chỉ</th>
                        <th class="text-center">hình thức thanh toán</th>
                        <th class="text-center">tình trạng thanh toán</th>
                        <th class="text-center">tổng tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">@item.Code</td>
                        <td class="text-center">@item.CustomerName</td>
                        <td class="text-center">@item.Address</td>
                        <td class="text-center">@(item.TypePayment==1?"COD":"Chuyển khoản")</td>
                        <td class="text-center">
                            @if (item.Status == 1)
                            {
                                <span>chưa thanh toán</span>
                            }
                            else
                            {
                                <span>đã thanh toán</span>
                            }
                        </td>
                        <td class="text-center">@item.TotalAmount đ</td>

                        @Html.Action("Orderd", "Profile", new { id = item.Id })
                        @*<td><a href="javascript:void(0);" class="btn btn-sm btn-danger btnCapNhat" onclick="UpdateTT(@item.Id)">Cập nhật</a></td>*@

                    </tr>
                </tbody>
            </table>

        }
    }
</section>




