@model IEnumerable<BanHang.Models.EF.Comment>
@using Microsoft.AspNet.Identity
<style>
    .cmt {
        word-break: break-all;
        display: inline;
    }

    .div_left {
    }

    .div_right {
        background-color: #DCDCDC;
        border: 3px #856073;
        border-radius: 20px;
        max-width: 200px;
        margin-left: 55px;
        margin-top: -50px;
    }
</style>
<h3>Bình luận</h3>
<div class="">

    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            if (item.Reply == 0)
            {
                if (item.hide == false)
                {
                    @Html.HiddenFor(x => item.Id)
                    @Html.HiddenFor(x => item.CreatedBy)
                    @Html.HiddenFor(x => item.ModifierDate)
                    @Html.HiddenFor(x => item.ModifierBy)
                    <div class="cmt">
                        <image style=" width: 50px; height: 50px; border-radius: 50%; object-fit: cover;" x="0" y="0" src="@(item.ApplicationUsers.Ava)" class="div_left round-image" />
                        <div class="div_right">
                            <h4 style="margin-left: 10px; opacity: 0.7;">@(item.ApplicationUsers.UserName):</h4>
                            <div data-currentcommentid="@item.Id" style="display:block;" id="current">
                                <h4 style="margin-left: 10px; color: #000011; ">@item.comms</h4>
                            </div>
                        </div>
                        <div id="edit">
                            <h4><input style="display: none; margin-left: 10px; width: auto; max-width: 200px" type="text" data-commentid="@item.Id" id="textedit" value="@item.comms" /></h4>
                        </div>
                        @if (item.ApplicationUsers.Id == User.Identity.GetUserId())
                        {
                            @*<button onclick="openedit(@item.Id);" class="btn btn-primary">chỉnh sửa</button>*@
                            <a href="javascript:void(0);" onclick="openedit(@item.Id);" class="btnclick"> Chỉnh sửa</a>
                            @*<input type="button" value="Save" id="btnclick" class="btnclick" onclick="EditComment(@item.Id);" />*@
                            <a href="javascript:void(0);" style="margin-left: 5px" class="btnclick" onclick="EditComment(@item.Id);"> Save</a>
                            <a href="javascript:void(0);" style="color:red" data-id="@item.Id" class="btn btn-sm btnDelete">Xóa</a>
                        }
                    </div>
                }
                else
                {
                    <image style=" width: 50px; height: 50px; border-radius: 50%; object-fit: cover;" x="0" y="0" src="@(item.ApplicationUsers.Ava)" class="div_left round-image" />
                    <div class="div_right">
                        <h4 style="margin-left: 10px; opacity: 0.7;">@(item.ApplicationUsers.UserName):</h4>
                            <h4 style="margin-left: 10px; color: #000011; ">Bình luận này đã xóa</h4>
                    </div>
                }
                if (item.ApplicationUsers.Id == User.Identity.GetUserId())
                {
                    <a href="javascript:void(0);" onclick="openreply(@item.Id)" class="btnclick">phản hồi</a>
                    <div style="display:none" data-replyid="@item.Id">
                        @Html.Action("Reply", "Comment", new { id = item.Id })
                        <a href="javascript:void(0);" onclick="ReplyComment(@item.Id)" class="btnclick">trả lời</a>
                    </div>
                    @Html.Action("IndexReply", "Comment", new { id = item.Id })
                }


            }


        }
    }
    else
    {
        <p>chưa có bình luận</p>
    }
</div>
<script>

    function openedit(id) {
        let commentID = id;
        var div = document.querySelector(`[data-currentcommentid="${commentID}"]`);
        div.style.display = "none";
        let textbox = document.querySelector(`[data-commentid="${commentID}"]`);
        textbox.style.display = "block";

    }
    function EditComment(id) {
        let commentID = id;
        var current = document.getElementById("current");
        current.remove();
        let textboxselectect = document.querySelector(`[data-commentid="${commentID}"]`);
        var textbox = textboxselectect.value;
        $.ajax({
            url: '/Comment/EditComment',
            type: 'POST',
            data: {

                id: id, com: textbox
            },
            success: function (rs) {
                if (rs.Success) {
                    window.location.reload();

                }
                else {
                    alert("binh luan that bai");
                }
            }

        })
    }
    $(document).ready(function () {

        $('body').on('click', '.btnDelete', function () {
            var id = $(this).data("id");
            var conf = confirm('Bạn muốn xóa hay không?');
            if (conf == true) {
                $.ajax({
                    url: '/Comment/DeleteComment',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            window.location.reload();

                        }
                    }
                });
            }
        });
    });
    function openreply(id) {
        let commentID = id;
        var div = document.querySelector(`[data-replyid="${commentID}"]`);
        div.style.display = "block";
    }
    function ReplyComment(idr) {
        let commentID = idr;
        var id = idr;
        let textboxreply = document.querySelector(`[data-textboxreplyid="${commentID}"]`);
        var comment = textboxreply.value;
        $.ajax({
            url: '/Comment/ReplyComment',
            type: 'POST',
            data: {
                id: id, com: comment
            },
            success: function (rs) {
                if (rs.Success) {
                    window.location.reload();

                }
                else {
                    alert("binh luan that bai");
                }
            }

        })
    }

</script>

