@model IEnumerable<BanHang.Models.EF.Comment>
<div class="Reply">

    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            if (item.Reply != 0)
            {
                @Html.HiddenFor(x => item.Id)
                @Html.HiddenFor(x => item.CreatedBy)
                @Html.HiddenFor(x => item.ModifierDate)
                @Html.HiddenFor(x => item.ModifierBy)
                <image style=" width: 50px; height: 50px; border-radius: 50%; object-fit: cover;" x="0" y="0" src="@(item.ApplicationUsers.Ava)" class="round-image" />
                <h4>@(item.ApplicationUsers.UserName):</h4>
                <div data-currentcommentid="@item.Id" style="display:block;" id="current">
                    <h4>@item.comms</h4>
                </div>
            }


        }
    }
    else
    {
        <p>chưa có bình luận</p>
    }
</div>
