
@model List<BanHang.Models.EF.AddToCart>
@{
    ViewBag.Title = "Add To Cart";

}

@*<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/asets/styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/asets/styles/single_responsive.css">*@
<h2>Giỏ Hàng</h2>

<table>

    <tr>

        <td>ID    |</td>

        <td>Tên    |</td>



        <td>Đơn giá    |</td>

        <td>Số lượng   |</td>


        <td>Thành Tiền    |</td>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.iId</td>

            <td>@item.stitle</td>



            <td>@item.dprice VND</td>

            <td>@item.isoluong</td>


            <td>@item.ThanhTien VND</td>

        </tr>
        <tr>
            <td colspan="6" style="text-align:right">
                @Html.ActionLink("Edit Gio Hang", "EditAddToCart")
            </td>
        </tr>


        <tr>
            <td colspan="6" style="text-align:right">
                @using (Html.BeginForm("DatHang", "GioHang"))
                {
                    <input type="submit" value="Đặt hàng" />
                }
            </td>
        </tr>
    }
</table>
@section scripts{
    <script src="~/Content/assets/js/single_custom.js"></script>

}