@using BanHang.Models
@model List<BanHang.Models.EF.AddToCart>
@{
    ViewBag.Title = "EditAddToCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .quantity {
        box-sizing: border-box;
        border: 0px;
        width: 50px;
        margin-left: 50px;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/asets/styles/single_styles.css">


<table style="margin-top: 200px; margin-left: 200px; width: 50%; position: relative;width:900px;height:100px;">
    <tr>
        <td style="border: 1px solid black; text-align: center ;font-weight:bolder" >Mã  </td>

        <td style="border: 1px solid black; text-align: center ;font-weight:bolder" ">Tên  </td>



        <td style="border: 1px solid black; text-align: center ;font-weight:bolder" ">Đơn giá </td>

        <td style="border: 1px solid black; text-align: center ;font-weight:bolder" ">Số lượng </td>

        <td style="border: 1px solid black; text-align: center ;font-weight:bolder" ">Thành Tiền </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td style="border: 1px solid black; text-align: center">@item.iId</td>

            <td style="border: 1px solid black; text-align: center">@item.stitle</td>



            <td style="border: 1px solid black; text-align: center">@item.dprice VND</td>
            @using (Html.BeginForm("UpdateAddToCart", "AddToCart", new { @ip = item.iId, @strURL = Request.Url.ToString() }))
            {
                <td style="border: 1px solid black; text-align: center">@Html.TextBox("txtsoluong", item.isoluong, new { @class = "quantity" })</td>


                <td style="border: 1px solid black; text-align: center">@item.ThanhTien VND</td>
                <td></td>

                <td>
                    <input type="submit" class="btn btn-success" style="width:97px;" value="Cập nhật" />
                    @Html.ActionLink("Delete", "DeleteAddToCart", new { ip = item.iId,@class="btn btn-danger" +
                   "" })
                </td>

            }




        </tr>
    }

</table>

